* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: 178px;
  object-fit: scale-down;

  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: black;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  padding: 16px;

  text-align: center;
  border-radius: 5px;

  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.photo-card {
  width: 100%;
  max-width: 300px;
  background-color: #f4f4fd;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.info {
  display: flex;
  gap: 5px;
}
.info-item {
  font-size: 12px;
  text-align: center;
}
